@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --site-background: 240deg 3% 93%;
    --top-navigation-background: 216deg 43% 95%;
    --info-background: 216deg 43% 66%;
    --logo: 216deg 43% 50%;
    --body: 37deg 33% 20%;
    --crash-notice: 37deg 33% 38%;
    --info-text: 217deg 16% 29%;
  }
}

@layer utilities {
  .banner {
    @apply w-full bg-info-bg/15 px-3 py-[10px] space-y-4 rounded-lg;
  }
  .banner-title {
    @apply font-normal text-sm text-info-text text-pretty;
  }
  .banner-footer {
    @apply block font-medium text-sm text-neutral-grey-1300 text-balance;
  }

  .dialog-content {
    @apply fixed z-10 bottom-0 left-0 right-0 h-[340px] bg-[#fff] p-4 space-y-6;
  }

  .dialog-delete {
    @apply w-96 min-h-0 h-40 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-lg;
  }
}
