@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --site-background: 240deg 3% 93%;
    --site-landing-page: 270deg 10% 4%;
    --top-navigation-background: 216deg 43% 95%;
    --info-background: 216deg 43% 66%;
    --logo: 216deg 43% 50%;
    --body: 37deg 33% 20%;
    --crash-notice: 37deg 33% 38%;
    --info-text: 217deg 16% 29%;
  }
}

@layer components {
  .nested-container {
    @apply xl:min-w-[60vw] xl:max-w-[1066px] xl:mx-auto;
  }
  .error-container {
    @apply w-full bg-neutral-grey-500 p-6 lg:p-10 lg:min-h-64 rounded-lg;
  }
}

@layer utilities {
  .logo {
    @apply relative font-bold text-md xl:text-xl text-logo before:content-['ALPHA'] before:absolute before:-top-2 before:-right-6 before:font-medium before:text-3xs before:text-[#1751D0];
  }
  .banner {
    @apply xl:flex xl:items-center xl:justify-between w-full bg-info-bg/15 px-3 py-[10px] space-y-4 xl:space-y-0 rounded-lg;
  }
  .banner-title {
    @apply font-normal text-sm xl:text-base text-info-text text-pretty;
  }
  .banner-footer {
    @apply block font-medium text-sm xl:text-base text-neutral-grey-1300 text-balance;
  }

  .dialog-content {
    @apply fixed z-10 bottom-0 left-0 right-0 h-[340px] bg-[#fff] p-4 space-y-6;
  }

  .dialog-delete {
    @apply md:w-96 min-h-0 h-40 md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 rounded-t-lg md:rounded-lg;
  }
}
